*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container{
	display: flex;
	background-color: rgb(104,255,129);
	 
}
.container h1{
	margin: auto;
	font-size: 55px;
	text-shadow: 2px 3px rgb(241,248,144)
}
.container img{
	height: 100px;
	width: 100px;
	margin: 4px 10px;
}
form{
	width: 50%;
	margin: auto;
	border: 3px solid black;
	border-radius: 10px;
	background-color: rgb(154,230,79);
	height: 100%;
	padding: 10px 15px;
	box-sizing: border-box;
	margin-bottom: 100px;
}

h3{
	font-size: x-large;
	text-align: center;
	padding: 10px 0px;
}
form input{
	margin:8px 5px;
}
form input[type=contact]{
	width:40%;
	padding: 12px 20px;
	margin: 8px 5px;
	height: 25px;
}

form input[type=text]{
	width:75%;
	padding: 12px 20px;
	margin: 8px 5px;
	height: 25px;
}
form input[type=mail]{
	width:75%;
	padding: 12px 20px;
	margin: 8px 5px;
	height: 25px;
}

form label{
	font-size: large;	
}
form select{
	width:30%;
	height: 25px;
	margin: 8px 5px;
}
button{
	width:10%;
	height:25px;
	margin: 0% 45%;
	text-align: center;
	background-color: rgb(104,255,129);
	border-radius: 5px;
}
footer{
	background-color: rgb(252,125,125);
	color: white;
	text-align: center;
	font-size: large;
	padding: 4px;
}




